@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 97%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 250 60% 55%;
    --primary-foreground: 240 5.9% 97%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 5.9% 97%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 250 60% 55%;
    --radius: 0.5rem;

    --chart-1: 250 60% 55%;
    --chart-2: 270 65% 60%;
    --chart-3: 290 70% 65%;
    --chart-4: 230 55% 50%;
    --chart-5: 260 75% 70%;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 84% 5%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 17% 95%;
    --sidebar-accent-foreground: 222 84% 5%;
    --sidebar-border: 220 13% 88%;
    --sidebar-ring: 207 90% 54%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 95%;
    --primary: 250 60% 55%;
    --primary-foreground: 240 5.9% 97%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 240 5% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 5.9% 97%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 250 60% 55%;

    --chart-1: 250 60% 55%;
    --chart-2: 270 65% 60%;
    --chart-3: 290 70% 65%;
    --chart-4: 230 55% 50%;
    --chart-5: 260 75% 70%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 231 48% 48%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 207 90% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
